header {
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    padding: 30vw 0 5vw;
    transform-style: inherit;
    width: 100vW;
  }
  
  header, header:before {
    background: 50% 50% / cover;
  }
  
  header::before {
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image:url("https://www.dropbox.com/s/qmaa6rmnwucrf2p/beach%20%281%29.jpg?raw=1");
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
  }
    
  header * {
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 1em 0;
  }

  header h3 {
    margin-top: -250px;
    font-size: 7em;
    color: rgb(255, 255, 255);
    line-height: .5em;
  }

  .animated {
    text-shadow: 3px 3px 1px rgb(90, 90, 90);
    animation-duration: 3s; 
    font-style: italic;
  }

  .animated span {
    color: rgb(0, 255, 191);
    text-shadow: 3px 3px 1px rgb(90, 90, 90);
    font-size: 1.5em;
    letter-spacing: -.1em;
  }

  h4 {
    line-height: .5em;
    margin-top: -50px;
    font-size: 2em;
    color: rgb(13, 11, 104);
    text-shadow: 1px 1px 1px rgb(121, 121, 121);
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.705);
    font-family: 'Dancing Script', cursive;
    letter-spacing: .3em;
  }

  h4 span {
    color: rgb(255, 30, 0);
    font-size: 1.5em;
  }

  .flash{
    font-size: 1em;
    text-shadow: 1px 1px 1px rgb(121, 121, 121);
    color: rgb(13, 11, 104);
  }


                   /* PLAN SECTION */

    .plan-section {
    height: 1100px;
    width: 100%;
    font-size: 18px;
    background-image:url('https://www.dropbox.com/s/rpjilv10owtd3r4/greece%20%281%29.jpg?raw=1');
    background-size: cover;
  }
  
  .content1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .input-div1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 5px;
  }

  .titleWhere {
    font-size: 40px;
    margin-bottom: 50px;
    color: #b9975b;
    text-shadow: 1px .5px 1px rgb(71, 71, 71);
  }

 .input {
   width: 450px;
   padding: 5px;
   background: transparent;
   border: 2px solid rgb(13, 11, 104);
   border-top: none;
   border-right: none;
   border-left: none;
 }

 input:focus {
   outline: none;
 }

 input {
   border: none;
 }

 .input:hover {
  border: 2px solid rgb(0, 255, 191);
  border-top: none;
  border-right: none;
  border-left: none;
  transition: 1s;
 }

 ::placeholder {
   color: rgba(122, 122, 122, 0.521);
 }

 .btnParent {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   margin-top: 30px;
 }

 .btn-submit {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 50px;
   margin-right: 50px;
   margin-bottom: 30px;
   height: 40px;
   width: 230px;
   background-color: rgb(13, 11, 104);
   color: rgb(250, 250, 250);
   border-radius: 5px;
   box-shadow: 1px 1px 5px 1px rgb(131, 131, 131);
   font-family: 'Dancing Script', cursive;
   font-size: 25px;
   font-weight: 400;  
 }

 .btn-submit:hover {
   background-color: rgb(0, 255, 191);
   box-shadow: 1px 1px 10px .5px rgb(179, 179, 179);
   color: rgb(32, 32, 32);
   transition: 1s;
 }

 .content2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 60px;
 }

  .input-div2 {
    background-color: rgba(60, 60, 84, 0.158);
    height: 700px;
    width: 500px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid white;
    box-shadow: 10px 10px 30px 3px rgb(133, 133, 133);
  }

  .titles {
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(13, 11, 104);
    font-size: 25px;
    background-color: white;
    width: 500px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(0, 255, 191);
    border-right: none;
    border-left: none;
  }

  .want {
    background-color: #fcebcd4d;
    height: 610px;
    width: 496px;
    padding: 10px;
    overflow: auto;
    font-size: 20px;
    color: rgb(80, 80, 80);
  }

  .elemParent {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
  }

  .elem {
    margin-top: 10px;
    margin-left: 30px;
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 25px;
    color: white;
    font-weight: 900;
    text-shadow: 1px 1px 1px rgb(70, 70, 70);
  }
  
  .newTrip {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 8px;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 30px;
    height: 30px;
    width: 30px;
    color: rgb(250, 250, 250);
    border-radius: 3px;
    box-shadow: .5px .5px 5px .5px rgb(131, 131, 131);
    background-color: rgb(13, 11, 104);
    font-size: 45px;
    line-height: .1em;
    font-weight: 400;
  }

  .newTrip:hover {
    background-color: rgb(0, 255, 191);
    box-shadow: 1px 1px 10px .5px rgb(179, 179, 179);
    color: rgb(32, 32, 32);
    transition: 1s;
  }

  .clearTrip {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 13px;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 30px;
    height: 30px;
    width: 30px;
    color: rgb(250, 250, 250);
    border-radius: 3px;
    box-shadow: .5px .5px 5px .5px rgb(131, 131, 131);
    background-color: rgb(13, 11, 104);
    font-size: 30px;
    line-height: .1em;
    font-weight: bold;
  }

  .clearTrip:hover {
    background-color: rgb(0, 255, 191);
    box-shadow: 1px 1px 10px .5px rgb(179, 179, 179);
    color: rgb(32, 32, 32);
    transition: 1s;
  }
